{% extends "_base.html" %} 
 {% block head_css %}{% end %}
{% block main%}
<div class="row">
    <div class="col-md-12">
       
    <article class="article-wrap">
            <div class="article-head">
                <a href="/p/{{ post['post_id']}}" title="{{ post['post_descp'] and post['post_descp'] or post['post_title'] }}"><h3>{{ post['post_title'] }}</h3></a>
                <p><small>标签：</small>
                {% if post['post_id'] in ptids %}
                <small>
                    {% for term in ptids[post['post_id']] %}
                    <a href="/t/{% raw url_escape(ptags[term['term_id']]['term_name']) %}"><span class="label label-success">{{ ptags[term['term_id']]['term_name'] }}</span></a>&nbsp;&nbsp;
                    {% end %}
                </small>
                {% else %}
                <small>无</small>
                {% end %}
                </p>
            </div>
            <div class="article-body">
                {% raw post['post_content'] %}
            </div>
            <div class="article-foot">
                <p>
                {% if post['post_source'].strip() != '' %}<small>来源：{% raw post['post_source'] %}</small>{% end %}
                {% if post['post_author'].strip() != '' and (post['user_id'] not in psers or psers[post['user_id']]['user_name'] != post['post_author']) %}{% if post['post_source'].strip() != '' %}<br>{% end %}<small>作者：{{ post['post_author'] }}</small>{% end %}
                </p>
                <p class="text-right">{% if post['user_id'] in psers %}<a href="/@{{ psers[post['user_id']]['user_name'] }}" target="_blank"><small>{{ psers[post['user_id']]['user_name'] }}</small></a>{% end %}<small> 发布于 {{ handler.timer().strftime('%Y-%m-%d %H:%M', handler.timer().localtime(post['post_ptms'])) }}</small></p>
            </div>
        </article>
               



        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li><a href="javascript:;" title="点赞（+1）" class="award" data-post-id="30" data-plus-ts="✓ 1">+ 1</a></li>
                <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>

        <div id="talks">
            <div id="list-talk">
                <fieldset>
                    <legend>
                        文章评论
                    </legend>
                </fieldset>
            </div>

            <form class="form-horizontal" method="post" action="/voice/{{ post['post_id']}}">
            {% raw xsrf_form_html() %}
                {% if handler.current_user %}
                <div class="from-froup">
                    <label for="" class="control-label">
                        <input type="checkbox" name="auth" value="1" checked="checked"> 以登录用户评论
                    </label>
                </div>
                {% end %}
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">你的名称：</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="form-talk-name" type="text" name="name" class="span3" minlength="3" maxlength="64" {% if handler.current_user %} value="{{ handler.current_user['user_name'] }}" readonly {% end %} required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">你的邮箱：</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="form-talk-mail" type="email" name="mail" class="span3" minlength="6" maxlength="64" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="form-talk-text">评论内容：</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="form-talk-text" name="text" rows="8" class="input-block-level" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-success input-large form-control">提交评论</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
{% end %}

{% block foot_js %}
 <script type="text/javascript" src="/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushScala.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPerl.js"></script>
    <link type="text/css" rel="stylesheet" href="/syntaxhighlighter/styles/shCore.css" />
    <link type="text/css" rel="stylesheet" href="/syntaxhighlighter/styles/shThemeDefault.css" />
    <script type="text/javascript">
        SyntaxHighlighter.defaults['toolbar'] = false;  //去掉右上角问号图标
        SyntaxHighlighter.config.tagName = 'pre';       //可以更改解析的默认Tag。
        SyntaxHighlighter.config.bloggerMode = true;
        SyntaxHighlighter.config.stripBrs = true;
        SyntaxHighlighter.all();
    </script>
{% end %}



